body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  height: 15px;
  background: hsl(224, 65%, 95%);
  border-radius: 0.625rem;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 35px;
  width: 20px;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -407px 0 0 400px hsl(174, 77%, 80%);
}

.toggle-switch {
  -webkit-appearance: none;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 25px;
  background-color: hsl(223, 50%, 87%);
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

.toggle-switch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: white;
  transition: left 0.3s;
}

.toggle-switch:checked {
  background-color: hsl(174, 86%, 45%);
}

.toggle-switch:checked::after {
  left: 70%;
}
